* {
    margin: 0;
}

body {
    background-color: #faf8f5;
    font-family: "Poppins",sans-serif;
    color: #242424;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0;
}

.clr {
    clear: both;
}

.hor-line {
    display: block;
    width: 60%;
    height: 1px;
    border: 0;
    border-top: 2px solid #000;
    margin: 50px auto;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.site-brand {
    text-align: center;
    margin: 2% 5% 2% 5%;
    padding: 20px;
}

.site-description {
    padding-top: 10px;
}

.main-header {
    text-align: center;
    margin: 5%;
}

.intro {
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.2em;
}

.featured-works {
    text-align: center;
    margin-top: 5%;
}

/* .featured-works article img {
    border: 1px #ccc solid;
    padding: 10px;
} */

.work-images {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}

.work-img {
    /* flex: 1; */
    width: 100%; /*chrome bug fix*/
    height: 100%; /*chrome bug fix*/
    min-width: 0; /*chrome bug fix*/
    padding: 20px;
}

.featured-works h2 {
    margin-bottom: 2%;
}

/* .work-img {
    width: 30%;
    float: left;
    padding: 1.67%;
    box-sizing: border-box;
} */

.sec {
    margin-bottom: 2%;
}

.section-header {
    text-align: center;
    margin-bottom: 5%;
}

/* .sec .work-options {
    border: 1px #ccc solid;
    padding: 10px;
} */

.work-section {
    display: flex;
}

.work-options {
    flex: 1;
    line-height: 2.25em;
    text-align: justify;
    padding: 20px;
}

.work-options h2 {
    margin-bottom: 10px;
}

/* .sec .img-border {
    border: 1px #ccc solid;
    padding: 10px;
} */

.img-options {
    display: flex;
}

.selfImage {
    width: 100%;
    height: 100%;
    min-width: 0;
    border-radius: 50%;
    align-self: center;
}

.selfInfo {
    background: #6c6c74;
    color: #fff;
    line-height: 2.5em;
    align-self: flex-end;
    text-align: justify;
}

/* .work-options {
    width: 30%;
    float: left;
    line-height: 2.25em;
    padding: 1.67%;
    box-sizing: border-box;
} */


/* 
.selfImage {
    float: left;
    width: 50%;
    padding-right: 0 20px;
    box-sizing: border-box;
} MAKE IMAGE CIRCEL */

/* .selfInfo {
    float: right;
    width: 50%;
    background: #6c6c74;
    color: #fff;
    line-height: 2.5em;
    padding: 50px;
    margin-top: 50px;
    box-sizing: border-box;
} */

.selfInfo p {
    margin: 20px;
}

/* .sec .con-bod {
    border: 1px #ccc solid;
    padding: 10px;
} */

.contact-section {
    display: flex;
}

.con-bod {
    flex-grow: 1;
    flex-basis: 0;
}



/* .contact {
    float: left;
    width: 50%;
    padding-right: 0 20px;
    box-sizing: border-box;
}

.form-body {
    float: right;
    width: 50%;
    box-sizing: border-box;
} */

.form-body label {
    display: block;
    padding: 10px 0;
    font-size: .88889em;
    font-weight: 700;
}

.form-body input[type="text"], .form-body input[type="email"] {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.form-body textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.form-body input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    width: 25%;
    background-color: #8d6708;
    border: none;
    border-radius: 5px;
    color: #faf8f5;
    font-size: .88889em;
    font-weight: 700;
    box-sizing: border-box;
}